CODE:
0
STDOUT:

STDERR:
Reservation number 657968: Reserved 2 hosts for 900 seconds 
Run on 2 hosts for 960 seconds from Tue Jun 12 11:58:51 2007
: node010/0 node040/0 
Exception in thread "main" java.lang.NoClassDefFoundError: 2
Exception in thread "main" java.lang.NoClassDefFoundError: 2
